* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
.bannerphoto {
  width: 100vw;
  height: auto; /* Maintains original aspect ratio */
  display: block; /* Prevents whitespace gaps at the bottom */
  padding: 0px !important;
}
body {
  padding: 0px;
  background-color: lightgrey;

}
head {
  padding: 0px !important;
}
.info {
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}